{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container" id="loginform">
    <form method="POST" class="loginformclass">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Login</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-md btn-dark sc-button" type="submit" name="button">Login</button>
      </div>
    </form>
    <br>
    <p>Need logins? Email us at georgia@snowballcreations.com</p>
  </div>
{% endblock %}
