{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Account Information:<br>{{ user.username }}</h1>
<div class="content-section" id="totalpanel">
  <div class="container" id="clientdetails">
    <h3>Edit your account details below</h3>
    <div id='resourcesandapps'>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ user_form|crispy }}
          {{ company_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
