{% extends "base.html" %}

{% block content %}

<h1>Client Dashboard</h1>

<div class="container" id="totalpanel">
  <div class="container" id="clientdetails">
    <h3>{{ user.userprofile.company.name }}'s Details</h3>
    <div class="row">
      <div class="col col-4 mx-auto">
        <p><strong>Company: </strong><br>{{ user.userprofile.company.name }}</p>
        <p><strong>Primary contact: </strong><br>{{ user.userprofile.company.primary_contact }}</p>
        {% if user.userprofile.company.secondary_contact %}
        <p><strong>Secondary contact: </strong><br>{{ user.userprofile.company.secondary_contact }}</p>
        {% endif %}
        {% if user.userprofile.company.tertiary_contact %}
        <p><strong>Third contact: </strong><br>{{ user.userprofile.company.tertiary_contact }}</p>
        {% endif %}
      </div>
      <div class="col col-4 mx-auto">
        {% if user.userprofile.company.url %}
        <p><strong>Website: </strong><br>{{ user.userprofile.company.url }}</p>
        {% else %}
        <p><strong>Website: </strong><br>No website</p>
        {% endif %}
        {% if user.userprofile.company.primary_contact.email %}
        <p><strong>Primary contact email: </strong><br>{{ user.userprofile.company.primary_contact.email }}</p>
        {% else %}
        <p><strong>Primary contact email: </strong><br>No email</p>
        {% endif %}
        {% if user.userprofile.company.secondary_contact.email %}
        <p><strong>Secondary contact email: </strong><br>{{ user.userprofile.company.secondary_contact.email }}</p>
        {% endif %}
        {% if user.userprofile.company.tertiary_contact.email %}
        <p><strong>Third contact email: </strong><br>{{ user.userprofile.company.tertiary_contact.email }}</p>
        {% endif %}
      </div>
    </div>
    <h3>Subscriptions</h3>
    <table>
      <tr>
        <th id='subscription-list'>Social Accounts</th>
        <th id='subscription-list'>Services</th>
        <th id='subscription-list'>Information</th>
      </tr>
      {% if subscription_list is None %}
        <p>No subscriptions</p>
      {% else %}
        {% for subscription in subscription_list %}
          <tr>
            <td id='subscription-list'>{{ subscription.social_profile }}</td>
            <td id='subscription-list'>{{ subscription.service_used }}</td>
            <td id='subscription-list'><a href="{{ subscription.service_used.url }}" target="_blank">Click for info</a></td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>


  <div class="container" id='resourcesandapps'>
    <div class="row">
      <div class="col">
         <div class="col" id='resourceslist'>
          <h3>Resources</h3>
          <div class="card" id='resourceandappcard'>
            <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h6 class="card-title">How to Ace Instagram!</h6>
              <small class="card-text" id='resourceandappcardtext'>
                Our complete guide on all the basics to advanced use of Instagram. This
                is the best place to start if you're trying to upgrade your social game!
              </small>
              <br><a href="https://docs.google.com/document/d/1stCwZ0vTOgrmxz2ATOVrXfFZN6vYJl5q19DOJaEU8Pw/edit?usp=sharing" class="btn btn-sm btn-dark sc-button" target="_blank">Read here</a>
            </div>
          </div>
        </div>
        <div class="col" id='resourceslist'>
          <div class="card" id='resourceandappcard'>
            <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h6 class="card-title">50 Ways to Make Money out of Insta</h6>
              <small class="card-text" id='resourceandappcardtext'>
                A social following can deliver a huge financial return! For you to tap into this
                it just needs some hard work, attention and testing to figure it out for yourself. The first part
                of that is just coming up with some ideas to actually test! So that’s the focus of this guide.
              </small>
              <br><a href="https://docs.google.com/document/d/1b-R4Q1BKxWFpt2mp9Hl5HE5YlIulD9WDw4dN02VfY6E/edit?usp=sharing" class="btn btn-sm btn-dark" target="_blank">Read here</a>
            </div>
          </div>
        </div>
        <div class="col" id='resourceslist'>
          <div class="card" id='resourceandappcard'>
            <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h6 class="card-title">10 actionable strategies to 10x Insta follower growth!</h6>
              <small class="card-text" id='resourceandappcardtext'>
                Deliver on these 10 simple strategies and alongside the work the Nature Boys will do for you,
                we’ll blast past your average growth figures and build a powerful follower base to transform
                you and your business! 🚀🚀🚀</small>
              <br><a href="https://docs.google.com/document/d/1UeDfDi5gqmBJCpD24bSJDEj_NasYUPMQHoy9zheqfkI/edit?usp=sharing" class="btn btn-sm btn-dark" target="_blank">Read here</a>
            </div>
          </div>
        </div>
        <div class="col" id='resourceslist'>
          <div class="card" id='resourceandappcard'>
            <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h6 class="card-title">10 actions to amplify Youtube Subscriber growth!</h6>
              <small class="card-text" id='resourceandappcardtext'>
                Deliver on these 10 quick and easy strategies and alongside the work the Nature Boys will do
                for you, we’ll blast past our average growth figures and build a powerful subscriber base to
                transform you and your business!
              </small>
              <br><a href="https://docs.google.com/document/d/13Tkhtt5Cb2sHBvmJPpQoc1rHo1j-rGGSOP8M1StGvKw/edit?usp=sharing" class="btn btn-sm btn-dark" target="_blank">Read here</a>
            </div>
          </div>
        </div>
       </div>
      <div class="col">
        <div class="col" id='resourceslist'>
          <h3>Applications</h3>
          <div class="card" id='resourceandappcard'>
            <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h6 class="card-title">Hashtag Fiend</h6>
              <small class="card-text" id='resourceandappcardtext'>Your helpful friend for all things hashtags!</small>
              <br><a href="#" class="btn btn-sm btn-outline-dark">Coming soon...</a>
            </div>
          </div>
          {% if request.user.is_superuser %}
          <div class="col">
            <div class="col" id='resourceslist'>
              <div class="card" id='resourceandappcard'>
                <!-- <img src="/Users/maxsinclair/Documents/webdev/python/Snowball_Creations/sc_app/static/images/instagram.jpeg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h6 class="card-title">Client Base</h6>
                  <small class="card-text" id='resourceandappcardtext'>For admin to see our lovely clients</small>
                  <br><a href="#" class="btn btn-sm btn-dark">Click here</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% include 'dashboard/snippets/faq.html' %}

</div>
{% endblock content %}
