{% extends "base.html" %}

{% block content %}

<h1>Login page</h1>
<div class="container" id='loginform'>
  <h3>Please enter your login details below</h3>
  <form method="post">
    {% csrf_token %}
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Your email">
    <br><label for="password">Password: </label>
    <input type="password" name="password">
    <br><input type="submit" name="submit" value="Login">
  </form>
  <br>
  <p>Forgotten your password? Email us at georgia@wearethenatureboys.com</p>
</div>


{% endblock %}
