/* OVERALL DOCUMENT SECTION */

html {
  font-family: 'Circe Thin';
  font-family: 'Circe Extra Light';
  font-family: 'Circe Light';
  font-family: 'Circe Regular';
  font-family: 'Circe Bold';
  font-family: 'Circe Extra Bold';
}

body {
  background: url("/static/images/mountainview.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  padding-top: 160px;
  padding-bottom: 250px;
}

h1 {
  color: white;
  text-align: center;
  width: 500px;
  padding: 20px 15px 20px 15px;
  border: 0px;
  margin: 20px auto 10px auto;
  background-color: #304052;
  font-family: circe, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
}

h3 {
  text-align: center;
  margin: 20px auto 20px auto;
  background-color: #304052;
  font-weight: 300;
  padding: 8px 0px 8px 0px;
  color: white;
  width: 70%;
  font-family: circe, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}

h6 {
  background-color: #304052;
  font-weight: 600;
  color: white;
  padding: 6px 0px 6px 0px;
  width: 70%;
  margin: auto;
  font-family: circe, sans-serif;
  font-weight: 400;
}

p, td, small {
  font-family: circe, sans-serif;
  font-weight: 300;
}

a {
  color: #384052;
  font-family: circe, sans-serif;
  font-weight: 400;
}

.btn {
  background-color: #B3d8DB;
  color: black;
  border: 0px;
  font-weight: 500;
  padding: 7px 17px 7px 17px;
}

/* NAVIGATION BAR  */

.total-navbar {
  padding-bottom: 10px;
  /* position:relative; */
}

.logo-navbar {
  background: rgba(56, 64, 82, 1);
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {

  .navbar-toggler {
    background-color: rgba(56, 64, 82, 1);
  }

  .navbar-toggler .icon-bar {
    background-color: transparent;
    background: url("/static/images/white-burger-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .second-level-navbar a {
    text-align: center;
  }

}

.second-level-navbar {
  padding: 5px 0px 5px 0px;
  background-color: #B3d8DB;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(56, 64, 82, 1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

p.site-footer {
  text-align: center;
  padding: 14px;
  margin: 0px;
  background: rgba(56, 64, 82, 1);
  color: white;
  font-weight: bold;
  border-top: 1px solid black;
}
a.site-footer {
  color: white;
}

/* LOGIN PAGE SECTION */
#loginform {
  width: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 20px auto 20px auto;
  padding: 30px;
  text-align: center;
}

#loginform p {
  padding: 5px;
  font-weight:600;
}

#loginform label {
  padding: 10px;
  font-weight:600;
}

#loginform h3 {
  padding: 0px auto 30px auto;
  margin-bottom: 40px;
}

@media only screen and (max-width : 376px) {

#loginform {
    width: 90%;
    background-color: white;
    border: 1px solid black;
    margin: 10px auto 10px auto;
    padding: 20px 5px 20px 5px;
    text-align: center;
  }

  #loginform p {
    padding: 2px;
    font-weight:600;
    word-wrap: break-word;
    font-size: 0.8em;
  }

  #loginform label {
    padding: 10px;
    font-weight:600;
  }

  #loginform h3 {
    padding: 0px auto 30px auto;
    margin-bottom: 40px;
  }

}



/* DASHBOARD CSS SECTION  */

#faqbutton {
  color: navy;
}

#totalpanel {
  background-color: white;
  border: 1px solid black;
}

#clientdetails {
  border: 1px solid black;
  margin: 10px auto 10px auto;
  padding-top: 10px;
  max-width: 100%;

}

#clientdetails table {
  border: 1px solid black;
  text-align: center;
  margin: auto;
  width: 80%;
  margin: 10px auto 20px auto;
}

.client-info-links p {
  word-wrap: break-word;
}

@media only screen and (max-width : 991px) {

  .client-info-links p {
    font-size: 0.8em;
  }

}

@media only screen and (max-width : 376px) {

  .client-info-links p {
    font-size: 0.7em;
  }

}


#subscription-list {
  border: 10px 0px 10px 0px;
  padding: 7px;
}

#resourceandappcardtext {
  margin-bottom: 5px;
  padding-bottom: 10px;
}


#resourceslist {
  width: 100%;
  padding: 0px;
}

#resourcesandapps a {
  margin: 8px 0px 0px 0px;
}

#resourcesandapps h3 {
  text-align: center;
}

#resourcesandapps {
  text-align: center;
  margin: auto;
}

.card {
  width: 90%;
  padding: 2px;
  margin: 10px auto 10px auto;
  text-align: center;
  border: 1px solid black;
}

/* FAQ SECTION OF DASHBOARD */

#faq-text {
  width: 90%;
  padding: 2px;
  margin: 10px auto 10px auto;
  text-align: left;
  opacity: 85%;
}

#faqbutton {
  fill: currentColor;
  transition: 0.6s ease-in-out;
}


#faqbutton:hover {
  transform: translateX(-8px);
  fill: #319795;
  transition: 0.6s ease-in-out;
}

.faq-button {
  background-color: transparent;
}

/* CLIENT BASE PAGE settings */


.clientpanel {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  margin: 20px auto 20px auto;
  padding: 20px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 0.6em;
  text-align: center;
}

.client-base-headers {
  border: 1px solid black;
  margin: 2px auto 2px auto;
  padding: 2px;
  overflow: hidden;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 10px;
}

.client-base-row {
  border: 1px solid black;
  margin: 2px auto 2px auto;
  padding: 2px;
  overflow: hidden;
  word-wrap: break-word;
}
